In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.optimizers import Adam,Adagrad

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_boston
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# 관련 라이브러리 임포트 
import matplotlib.font_manager as fm
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.style.use('ggplot')

# Pandas 기초??

## 특정 컬럼을 기준으로 n개 출력
df_test.nlargest(n, 컬럼 ,keep=)

keep = all 은 동률일경우  모두 출력  
keep = last 는 동률인 경우 하나만 출력

In [ ]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,50,70]}
df_test = pd.DataFrame(data, index=['a','b','c','d'] )
df_test

In [ ]:
# 수학 기준으로 가장 높은 데이터
df_test.nlargest(1, 'math')

In [ ]:
# 수학 기준으로 상위 2개
df_test.nlargest(2, 'math')

In [ ]:
# 수학 기준으로 상위 3개
df_test.nlargest(3, 'math')

In [ ]:
# 수학 기준으로 상위 3개 동률인 경우 하나만 출력
df_test.nlargest(3, 'math', keep='last')

In [ ]:
# 수학 기준으로 상위 3개, 동률인겨우 모두 출력
df_test.nlargest(3, 'math', keep='all')

In [ ]:
# 수학 기준으로 하위 1개
df_test.nsmallest(1, 'math')

In [ ]:
df.round(3)

# 구간 나누기

In [5]:
df = pd.read_csv('tdata/trees.csv',encoding='euc-kr')
df.head(3)

   Girth  Height  Volume
0    8.3      70    10.3
1    8.6      65    10.3
2    8.8      63    10.2

## apply 적용

In [8]:
def fn(v):
    if v>=40:
        return '크다'
    elif v >=30 :
        return '보통'
    else : 
        return '적음'

In [10]:
df['정도'] = df['Volume'].apply(fn)

In [12]:
df.sample(5)

    Girth  Height  Volume  정도
9    11.2      75    19.9  적음
10   11.3      79    24.2  적음
25   17.3      81    55.4  크다
24   16.3      77    42.6  크다
20   14.0      78    34.5  보통

## pd.cut

In [13]:
df['정도2'] = pd.cut(x= df['Volume'] , bins =[0,30,40,80], labels = ['적음','보통','큼'])
df.sample(7)

    Girth  Height  Volume  정도 정도2
28   18.0      80    51.5  크다   큼
20   14.0      78    34.5  보통  보통
0     8.3      70    10.3  적음  적음
5    10.8      83    19.7  적음  적음
6    11.0      66    15.6  적음  적음
15   12.9      74    22.2  적음  적음
30   20.6      87    77.0  크다   큼

## numpy 사용

In [15]:
arr = df['Volume'].values

In [ ]:
# T / F 2가지 경우인 경우

In [18]:
# np.where(arr >=40, '크다','작다')

In [19]:
np.select( [arr >= 40, arr >= 30, arr < 30 ], ['크다','보통','적음']    )

array(['적음', '적음', '적음', '적음', '적음', '적음', '적음', '적음', '적음', '적음', '적음',
       '적음', '적음', '적음', '적음', '적음', '보통', '적음', '적음', '적음', '보통', '보통',
       '보통', '보통', '크다', '크다', '크다', '크다', '크다', '크다', '크다'], dtype='<U11')