In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler

from tensorflow.keras.optimizers import Adam
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
# 관련 라이브러리 임포트 
import matplotlib.font_manager as fm
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.style.use('ggplot')

# 과적합 방지


- 학습 횟수 최대한 , 학습 완료시 학습종료

```
1. 학습횟수는 최대한
2. patience : 기다리는 횟수
3. min_delta : cost 값의 차이 ( 0.01, 0.001 )

```

## tensor 방식으로 구현
- 코드로 구현해야댐

In [3]:
df = pd.read_csv('data/test.csv',header=None)
df.columns = ['q1','q2','mid','final']
df.head(3)

   q1  q2  mid  final
0  73  80   75    152
1  93  88   93    185
2  89  91   90    180

In [8]:
df.iloc[:,-1]

0     152
1     185
2     180
3     196
4     142
5     101
6     149
7     115
8     175
9     164
10    141
11    141
12    184
13    152
14    148
15    192
16    147
17    183
18    177
19    159
20    177
21    175
22    175
23    149
24    192
Name: final, dtype: int64

In [7]:
df.iloc[:,[-1]]

    final
0     152
1     185
2     180
3     196
4     142
5     101
6     149
7     115
8     175
9     164
10    141
11    141
12    184
13    152
14    148
15    192
16    147
17    183
18    177
19    159
20    177
21    175
22    175
23    149
24    192

In [5]:
x_data = df.iloc[:,:-1].values
y_data = df.iloc[:,[-1]].values

In [10]:
x_data,y_data

(array([[ 73,  80,  75],
        [ 93,  88,  93],
        [ 89,  91,  90],
        [ 96,  98, 100],
        [ 73,  66,  70],
        [ 53,  46,  55],
        [ 69,  74,  77],
        [ 47,  56,  60],
        [ 87,  79,  90],
        [ 79,  70,  88],
        [ 69,  70,  73],
        [ 70,  65,  74],
        [ 93,  95,  91],
        [ 79,  80,  73],
        [ 70,  73,  78],
        [ 93,  89,  96],
        [ 78,  75,  68],
        [ 81,  90,  93],
        [ 88,  92,  86],
        [ 78,  83,  77],
        [ 82,  86,  90],
        [ 86,  82,  89],
        [ 78,  83,  85],
        [ 76,  83,  71],
        [ 96,  93,  95]], dtype=int64),
 array([[152],
        [185],
        [180],
        [196],
        [142],
        [101],
        [149],
        [115],
        [175],
        [164],
        [141],
        [141],
        [184],
        [152],
        [148],
        [192],
        [147],
        [183],
        [177],
        [159],
        [177],
        [175],
        [175],
        [149],
        [192]], dtype=int64))

In [11]:
x = tf.constant(x_data, tf.float32)
y = tf.constant(y_data, tf.float32)

In [12]:
w = tf.Variable(tf.random.uniform([3,1]))# 특성데이터갯수,label개수
b = tf.Variable(tf.random.uniform([1]))# [라벨개수]

In [13]:
def compute_loss():
    hx = tf.matmul(x,w) + b 
    cost = tf.reduce_mean((hx-y)**2)
    
    return cost

In [23]:
patience = 20  
min_delta = 0.01  # (전 - 후) 값을 했을 때 이 숫자보다 작으면 조기종료 
hist_cost = [] 

pcnt = 0
optimizer = Adam(0.1)
for i in range(10000):
    optimizer.minimize(compute_loss, var_list=[w,b])  # 미분 
    c = compute_loss().numpy()
    hist_cost.append(c)

    print(i, 'cost: ',c)
    
    if i>0:
        if hist_cost[i-1] - hist_cost[i] > min_delta:
            pcnt = 0
        else:
            pcnt += 1
        if pcnt >= patience : 
            print('early stop')
            break

0 cost:  71.42903
1 cost:  106.92052
2 cost:  51.045845
3 cost:  11.229569
4 cost:  65.363434
5 cost:  41.496426
6 cost:  6.2621155
7 cost:  29.481272
8 cost:  43.445023
9 cost:  17.98317
10 cost:  7.1051273
11 cost:  25.176455
12 cost:  28.985641
13 cost:  11.944612
14 cost:  7.3514347
15 cost:  19.407896
16 cost:  20.847229
17 cost:  9.503055
18 cost:  7.1898303
19 cost:  15.324715
20 cost:  15.702389
21 cost:  8.001586
22 cost:  7.140143
23 cost:  12.707256
24 cost:  12.189875
25 cost:  6.9526124
26 cost:  7.2592444
27 cost:  10.973274
28 cost:  9.686331
29 cost:  6.323575
30 cost:  7.484013
31 cost:  9.652754
32 cost:  7.8949523
33 cost:  6.1359205
34 cost:  7.6813545
35 cost:  8.470638
36 cost:  6.726346
37 cost:  6.3257947
38 cost:  7.6704116
39 cost:  7.377897
40 cost:  6.184289
41 cost:  6.6776443
42 cost:  7.3303266
43 cost:  6.5336704
44 cost:  6.1888494
45 cost:  6.874719
46 cost:  6.754244
47 cost:  6.147124
48 cost:  6.4428754
49 cost:  6.7185726
50 cost:  6.2629485
51 cost:  6.2048554
52 cost:  6.5492625
53 cost:  6.3512115
54 cost:  6.1287827
55 cost:  6.374012
56 cost:  6.3673573
57 cost:  6.1307306
58 cost:  6.2488017
59 cost:  6.334366
60 cost:  6.151177
61 cost:  6.176573
62 cost:  6.2842474
63 cost:  6.1648946
64 cost:  6.1408324
65 cost:  6.2368274
66 cost:  6.1675
67 cost:  6.1249714
68 cost:  6.1995106
69 cost:  6.162194
70 cost:  6.118217
71 cost:  6.172681
72 cost:  6.1531367
73 cost:  6.114957
74 cost:  6.1541114
75 cost:  6.1431413
76 cost:  6.1128054
77 cost:  6.141257
78 cost:  6.133734
79 cost:  6.1109667
80 cost:  6.132106
81 cost:  6.12547
82 cost:  6.1092405
83 cost:  6.1252356
84 cost:  6.1184382
85 cost:  6.1076717
86 cost:  6.119733
87 cost:  6.112557
88 cost:  6.106218
89 cost:  6.1149664
90 cost:  6.1077027
91 cost:  6.1048427
92 cost:  6.1106114
93 cost:  6.1038084
94 cost:  6.103443
95 cost:  6.106526
96 cost:  6.1007037
97 cost:  6.1018996
98 cost:  6.102692
99 cost:  6.098257
100 cost:  6.1001005
101 cost:  6.0991383
102 cost:  6.0963087
103 cost:  6.097953
104 cost:  6.095969
105 cost:  6.094611
early stop

##  케라스 구현
- 모듈 사용

In [17]:
from tensorflow.keras.optimizers import Adam,Adagrad
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [22]:
dense  = Dense(units = 1, input_dim=3)
model = Sequential([dense])
model.compile(loss = 'mse', optimizer = Adam(0.1))
earlyStop = EarlyStopping(monitor = 'loss',min_delta=0.01, patience=20)
h = model.fit(x_data,y_data ,epochs=10000, callbacks=[earlyStop])

Epoch 1/10000
1/1 [==============================] - 0s 142ms/step - loss: 30088.3125
Epoch 2/10000
1/1 [==============================] - 0s 998us/step - loss: 22244.1074
Epoch 3/10000
1/1 [==============================] - 0s 996us/step - loss: 15626.2373
Epoch 4/10000
1/1 [==============================] - 0s 996us/step - loss: 10242.1328
Epoch 5/10000
1/1 [==============================] - 0s 997us/step - loss: 6077.0684
Epoch 6/10000
1/1 [==============================] - 0s 2ms/step - loss: 3085.8467
Epoch 7/10000
1/1 [==============================] - 0s 998us/step - loss: 1184.3167
Epoch 8/10000
1/1 [==============================] - 0s 2ms/step - loss: 242.3751
Epoch 9/10000
1/1 [==============================] - 0s 2ms/step - loss: 82.3019
Epoch 10/10000
1/1 [==============================] - 0s 997us/step - loss: 486.8018
Epoch 11/10000
1/1 [==============================] - 0s 997us/step - loss: 1218.9552
Epoch 12/10000
1/1 [==============================] - 0s 2ms/step - loss: 2051.2390
Epoch 13/10000
1/1 [==============================] - 0s 996us/step - loss: 2795.1707
Epoch 14/10000
1/1 [==============================] - 0s 997us/step - loss: 3321.8135
Epoch 15/10000
1/1 [==============================] - 0s 998us/step - loss: 3567.8369
Epoch 16/10000
1/1 [==============================] - 0s 2ms/step - loss: 3528.5447
Epoch 17/10000
1/1 [==============================] - 0s 2ms/step - loss: 3243.1943
Epoch 18/10000
1/1 [==============================] - 0s 2ms/step - loss: 2778.2009
Epoch 19/10000
1/1 [==============================] - 0s 997us/step - loss: 2211.7620
Epoch 20/10000
1/1 [==============================] - 0s 3ms/step - loss: 1621.4291
Epoch 21/10000
1/1 [==============================] - 0s 997us/step - loss: 1074.8901
Epoch 22/10000
1/1 [==============================] - 0s 2ms/step - loss: 623.7313
Epoch 23/10000
1/1 [==============================] - 0s 2ms/step - loss: 299.8854
Epoch 24/10000
1/1 [==============================] - 0s 2ms/step - loss: 114.5960
Epoch 25/10000
1/1 [==============================] - 0s 2ms/step - loss: 59.7645
Epoch 26/10000
1/1 [==============================] - 0s 996us/step - loss: 111.4802
Epoch 27/10000
1/1 [==============================] - 0s 997us/step - loss: 235.2771
Epoch 28/10000
1/1 [==============================] - 0s 2ms/step - loss: 392.3698
Epoch 29/10000
1/1 [==============================] - 0s 997us/step - loss: 545.8808
Epoch 30/10000
1/1 [==============================] - 0s 998us/step - loss: 666.0517
Epoch 31/10000
1/1 [==============================] - 0s 2ms/step - loss: 733.6610
Epoch 32/10000
1/1 [==============================] - 0s 997us/step - loss: 741.2941
Epoch 33/10000
1/1 [==============================] - 0s 2ms/step - loss: 692.5683
Epoch 34/10000
1/1 [==============================] - 0s 996us/step - loss: 599.7557
Epoch 35/10000
1/1 [==============================] - 0s 997us/step - loss: 480.4610
Epoch 36/10000
1/1 [==============================] - 0s 997us/step - loss: 354.0132
Epoch 37/10000
1/1 [==============================] - 0s 999us/step - loss: 238.1509
Epoch 38/10000
1/1 [==============================] - 0s 995us/step - loss: 146.4480
Epoch 39/10000
1/1 [==============================] - 0s 3ms/step - loss: 86.7496
Epoch 40/10000
1/1 [==============================] - 0s 2ms/step - loss: 60.7180
Epoch 41/10000
1/1 [==============================] - 0s 1ms/step - loss: 64.4339
Epoch 42/10000
1/1 [==============================] - 0s 2ms/step - loss: 89.8335
Epoch 43/10000
1/1 [==============================] - 0s 2ms/step - loss: 126.6544
Epoch 44/10000
1/1 [==============================] - 0s 2ms/step - loss: 164.5008
Epoch 45/10000
1/1 [==============================] - 0s 996us/step - loss: 194.6539